* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.balance-container {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.balance-container h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.income,
.expense {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.income {
  border-right: 1px solid #ddd;
}

.income h4,
.income p {
  color: #2ecc71;
}

.expense h4,
.expense p {
  color: #e74c3c;
}

.form-control {
  margin-bottom: 15px;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control input,
.form-control select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #2980b9;
}

.transactions {
  margin-top: 30px;
}

.transactions h3 {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

#transaction-list {
  list-style-type: none;
}

#transaction-list li {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  position: relative;
}

#transaction-list li.income {
  border-right: 5px solid #2ecc71;
}

#transaction-list li.expense {
  border-right: 5px solid #e74c3c;
}

.delete-btn {
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 2px 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

#transaction-list li:hover .delete-btn {
  opacity: 1;
}

.chart-container {
  margin-top: 30px;
  text-align: center;
  height: 1000px;
}

.chart-container h3 {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
